@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"):

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-elements: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.nunito-sans-normal {
  font-family: "Nunito  Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nunito-sans-medium {
  font-family: "Nunito  Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nunito-sans-large {
  font-family: "Nunito  Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--very-dark-blue-bg);
  }
} */

/* .element{
    background-color:hsl(209, 23%, 22%);

  } */
/* } */
